---
import Layout from '@/layouts/Layout.astro';
import CanvasBackground from '@/components/ui/CanvasBackground';
import Navbar from '@/components/layout/Navbar.astro';
import Contact from '@/components/sections/Contact';
import Footer from '@/components/layout/Footer.astro';
---

<Layout title="Contacto" description="¿Tienes un proyecto en mente? Contacta conmigo para hablar sobre desarrollo web, arquitectura cloud o consultoría técnica.">
	<main class="relative min-h-screen">
		<CanvasBackground client:load />
		<Navbar />
		
		<div class="pt-24 min-h-[80vh] flex items-center">
            <Contact client:load />
        </div>

		<Footer />
	</main>
</Layout>
